<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ActiveGraph: Building the Active Natwork</title>
        
        <link href="~/Content/site.css" rel="stylesheet" />

        <script src="~/Client/lib/jQuery/jquery-main.1.10.2.js"></script>
        <script src="~/Client/lib/jQuery/jquery-migrate.1.2.1.js"></script>

        <script src="~/Client/lib/knockout/knockout-main.2.3.0.js"></script>
        <script src="~/Client/lib/knockout/knockout-mapping.2.4.1.js"></script>
    </head>
    <body>
        @RenderBody()
            
        @RenderSection("scripts", required: false)
    </body>
</html>
