html {
  height: 100%;
}
body {
  height: 100%;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
.navbar {
  border-radius: 0px;
}
#main.container {
  background-color: #fff;
  padding-bottom: 60px;
}
h1 {
  font-size: 30px;
  margin: 0;
}
.groupsList {
  margin-left: -2.5px;
  margin-right: -2.5px;
  margin-bottom: 3px;
}
.groupsList:before,
.groupsList:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.groupsList:after {
  clear: both;
}
h3 {
  color: #eeeeee;
  background-color: #999999;
  padding: 5px;
}
.groupListImage {
  position: relative;
  min-height: 1px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
@media (min-width: 768px) {
  .groupListImage {
    float: left;
    width: 16.666666666666664%;
  }
}
.groupListName {
  position: relative;
  min-height: 1px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}
@media (min-width: 768px) {
  .groupListName {
    float: left;
    width: 83.33333333333334%;
  }
}
list-item {
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#stats {
  border: 1px solid #ebebeb;
  padding: 20px;
}
