html {
  height: 100%;
}
body {
  height: 100%;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
.navbar {
  border-radius: 0px;
}
#main.container {
  background-color: #fff;
}
#stats {
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 20px;
}
